.NotifyModal {
  font-size: 0.9rem;
}

.NotifyModal header {
  margin: 10px 0 26px;
  font-size: 1.5rem;
  font-weight: bold;
  color: hsl(0, 0%, 15%);
}

.NotifyModal select {
  min-width: 140px;
  height: 32px;
  padding: 0 6px;
  border-radius: 3px;
  background: hsl(0deg 0% 94%);
  cursor: pointer;
  appearance: none;
}

.NotifyModal label {
  display: block;
  margin: 16px 0 20px;
}

.NotifyModal input {
  width: 100%;
  height: 38px;
  margin-top: 6px;
  padding: 0 10px;
  background: hsl(0deg 0% 94%);
  border: 1px solid hsl(0deg 0 0);
  border-radius: 3px;
}

.NotifyModal footer {
  text-align: right;
}

.NotifyModal button {
  height: 40px;
  padding: 0 20px;
  font-weight: bold;
  color: hsl(0deg 0% 30%);
  background: hsl(0deg 0% 90%);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.NotifyModal button + button {
  margin-left: 12px;
}

.NotifyModal .ClearButton {
}

.NotifyModal .SubmitButton {
  color: #fff;
  background: hsl(224deg 70% 46%);
}
