.NotifyModal {
  position: relative;
  font-size: 0.9rem;
}

.isSubmitting {
  opacity: 0.4;
  pointer-events: none;
  cursor: default;
}

.CloseButton {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 22px;
  color: hsl(0deg 0% 60%);
  opacity: 0.5;
  cursor: pointer;
}

.NotifyModal header {
  margin: 12px 0 26px;
  font-size: 1.5rem;
  font-weight: bold;
  color: hsl(0, 0%, 15%);
}

.NotifyModal header + p {
  margin-bottom: 9px;
}

.NotifyModal select {
  min-width: 140px;
  height: 36px;
  padding: 0 10px;
  border-radius: 3px;
  background: hsl(0deg 0% 94%);
  cursor: pointer;
  appearance: none;
}

.NotifyModal label {
  display: block;
  margin-top: 18px;
}

.NotifyModal input {
  width: 100%;
  height: 38px;
  margin-top: 8px;
  padding: 0 10px;
  /* background: hsl(0deg 0% 94%); */
  background: hsl(0deg 0% 100%);
  /* border: 1px solid hsl(0deg 0% 0%); */
  border: 1px solid hsl(350deg 72% 67%);
  box-shadow: 0 0 3px 2px rgba(232, 112, 133, .5);
  outline: none;
  border-radius: 3px;
  transition: all 250ms linear;
}

.NotifyModal .isValid {
  border: 1px solid hsl(136deg 72% 38%);
  box-shadow: 0 0 3px 2px rgba(27, 165, 63, .5);
}

.NotifyModal .isEmpty {
  border: 1px solid hsl(0deg 0% 0%);
  box-shadow: none;
}

.ErrorMessage {
  margin-top: 12px;
  font-weight: bold;
  color: hsl(0deg 70% 55%);
}

.NotifyModal footer {
  margin-top: 27px;
  text-align: right;
}

.NotifyModal button {
  height: 40px;
  padding: 0 20px;
  font-weight: bold;
  color: hsl(0deg 0% 30%);
  background: hsl(0deg 0% 90%);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.NotifyModal button + button {
  margin-left: 12px;
}

.NotifyModal .ClearButton {
}

.NotifyModal .SubmitButton {
  padding: 0 36px;
  color: #fff;
  background: hsl(224deg 70% 46%);
}

.isSubmitting .SubmitButton {
  font-style: italic;
}
